<% extend("../app.ejs") %>
    <script src="/js/user.js"></script>
    <section class="mt-0" style="background-color: #ABF3FD; height: 60px; display: flex; align-items: center;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <div class="homepage-logo mt-2">
                        <img class="menu-nav" src="../images/background/DC.png" alt="img logo">
                    </div>
                </div>

                <div class="col-md-7 d-none d-md-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <button class="btn btn-warning text-black" onclick="redirectToHome()">Trang chủ</button>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="btn btn-design" onclick="redirectToSpecializations()">Chuyên khoa</button>
                    </div>
                    <div class="d-flex flex-column">
                        <button class="btn btn-design" onclick="redirectToDoctors()">Bác sĩ</button>
                    </div>
                    <div class="header-search align-self-center justify-content-center">
                        <i class="fa fa-search"></i>
                        <label for="input-search"></label>
                        <input id="input-search" placeholder="Tìm kiếm...">
                        <div id="show-info-search" class="show-info-search"></div>
                    </div>
                    <script>
                        function redirectToHome() {
                            window.location.href = "/";
                        }

                        function redirectToSpecializations() {
                            window.location.href = "/all-specializations";
                        }

                        function redirectToDoctors() {
                            window.location.href = "/all-doctors";
                        }
                    </script>
                </div>

                <% if (user) { %>
                    <div class="col-md-3 d-none d-md-flex justify-content-around align-self-center" id="loggedIn">
                        <a href="/InfoUser">
                            <img src="../images/background/User.png" alt="User logo" class="logo">
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100011010698678" target="_blank">
                            <img src="../images/background/Vector.png" alt="Contact logo" class="logo">
                        </a>
                        <a href="/logout">
                            <img src="../images/background/logout.png" alt="Contact logo" class="logo">
                        </a>
                    </div>
                    <% } else { %>
                        <div class="col-md-3 mt-3 d-none d-md-flex justify-content-around align-self-center"
                            id="notLoggedIn">
                            <div class="d-flex flex-column">
                                <a href="/login" class="btn btn-design1 ">Đăng nhập</a>
                            </div>
                            <div class="d-flex flex-column">
                                <a href="/register" class="btn btn-design2 ">Đăng ký</a>
                            </div>
                            <a href="https://www.facebook.com/profile.php?id=100011010698678" target="_blank">
                                <img src="../images/background/Vector.png" alt="Contact logo" class="logo">
                            </a>
                        </div>
                        <% } %>
            </div>
        </div>
    </section>

    <section class="detail-info-specialization">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-3">
                        <a class="text-decoration-none" href="/"><i class="fa fa-home" aria-hidden="true"></i></a><span
                            aria-hidden="true">&raquo;</span>
                        <span style="text-transform: uppercase">Thông tin người dùng</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-1" style="background-color: #ffffff; min-height: 700px;">
        <div class="container" id="container-user">
            <div class="form-container infor-user-container1">
                <div style="background-color: #ABF3FD; height: 50px; font-size: 20px;">
                    <i class="fa fa-user-circle-o" aria-hidden="true" style="color: #007bff;"></i> Thông tin người dùng
                </div>

                <div class="form-group1">
                    <img src="<%= user.avatar %>" alt="avatar-user"><br>
                </div>
                <div style="text-align: center;">
                    <label for="full-name" style="background-color: #ABF3FD; padding: 5px 15px; display: inline-block;">
                        <%= user.name %>
                            <input type="hidden" id="full-name" name="full-name" value="<%= user.name %>">
                    </label>
                </div>

                <div class="form-group-infor1">
                    <div>
                        <div><i class="fa fa-info-circle" aria-hidden="true" style="color: #007bff;"></i> <a href="#"
                                onclick="showDetail('personalInfo')">Thông tin cá nhân</a></div>
                    </div>
                    <div>
                        <div><i class="fa fa-history" aria-hidden="true" style="color: #007bff;"></i> <a href="#"
                                onclick="showDetail('medicalHistory')">Lịch sử khám bệnh</a></div>
                    </div>
                    <div>
                        <div><i class="fa fa-unlock-alt" aria-hidden="true" style="color: #007bff;"></i> <a href="#"
                                onclick="showDetail('changePassword')">Đổi mật khẩu</a></div>
                    </div>
                </div>
            </div>

            <div class="form-container infor-user-detail" id="detail-content" style="overflow: auto;">
                <div style="background-color: #ABF3FD; height: 50px; font-size: 20px; text-align: center;"
                    id="detail-header">
                    Thông tin chi tiết
                </div>
                <div id="personalInfo" class="detail-section">
                    <div class="form-group1">
                        <label for="full-name">Họ và tên :</label>
                        <input type="text" id="full-name" name="full-name" placeholder="<%= user.name %>"
                            value="<%= user.name %>">
                        <span class="error" id="full-name-error"></span>
                    </div>
                    <div class="form-group1">
                        <label for="email">Email :</label>
                        <input type="email" id="email" name="email" placeholder="<%= user.email %>"
                            value="<%= user.email %>" readonly>
                        <span class="error" id="email-error"></span>
                    </div>
                    <div class="form-group1">
                        <label for="phone-number">Số điện thoại :</label>
                        <input type="text" id="phone-number" name="phone-number" placeholder="<%= user.phone %>"
                            value="<%= user.phone %>">
                        <span class="error" id="phone-number-error"></span>
                    </div>
                    <div class="form-group1">
                        <label for="address">Địa chỉ:</label>
                        <input type="text" id="address" name="address" placeholder="<%= user.address %>"
                            value="<%= user.address %>">
                    </div>
                    <div class="form-group1 gender">
                        <label for="gender">Giới tính:</label>
                        <input type="radio" id="male" name="gender" value="M" <% if(user.gender==='M' ) { %> checked
                        <% } %> disabled>
                            <label for="male">Nam</label>
                            <input type="radio" id="female" name="gender" value="F" <% if(user.gender==='F' ) { %>
                            checked
                            <% } %> disabled>
                                <label for="female">Nữ</label>
                                <span class="error" id="gender-error"></span>
                    </div>
                    <div class="form-group1">
                        <label for="birthdate">Ngày sinh:</label>
                        <input type="text" id="birthdate" name="birthdate" value="<%= formatDate(user.birthday) %>"
                            readonly>
                    </div>
                    <div class="form-group1">
                        <button type="submit" class="btn-submit" style="margin-top: 30px;">Cập nhật</button>

                    </div>
                </div>

                <div id="medicalHistory" class="detail-section" style="display:none;">

                    <div class="card-header py-3">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="patient-new-tab" data-toggle="tab" href="#newPatients"
                                    role="tab" aria-controls="home" aria-selected="true">Lịch hẹn mới (<span
                                        id="count-new"></span>) </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="patient-need-confirm-tab" data-toggle="tab"
                                    href="#patientsNeedConfirm" role="tab" aria-controls="profile"
                                    aria-selected="false">Đã chấp nhận(<span id="count-need"></span>) </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="patient-confirmed-tab" data-toggle="tab"
                                    href="#patientConfirmed" role="tab" aria-controls="contact" aria-selected="false">Đã
                                    khám(<span id="count-confirmed"></span>)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="patient-cancel-tab" data-toggle="tab" href="#patientCanceled"
                                    role="tab" aria-controls="contact" aria-selected="false">Đã hủy(<span
                                        id="count-canceled"></span>) </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="newPatients" role="tabpanel"
                                    aria-labelledby="patient-new-tab">
                                    <table class="table table-bordered" id="tableNewPatients" width="100%"
                                        cellspacing="0">
                                        <thead>

                                            <tr>
                                                <th>Mã khám</th>
                                                <th>Tên</th>
                                                <th>Ngày khám</th>
                                                <th>Giờ khám</th>
                                                <th class="w-25">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="patientsNeedConfirm" role="tabpanel"
                                    aria-labelledby="patient-need-confirm-tab">
                                    <table class="table table-bordered" id="tableNeedConfirmPatients" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Ngày khám</th>
                                                <th>Giờ khám</th>
                                                <th class="w-25">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="patientConfirmed" role="tabpanel"
                                    aria-labelledby="patient-confirmed-tab">
                                    <table class="table table-bordered" id="tableConfirmedPatients" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Ngày khám</th>
                                                <th>Giờ khám</th>
                                                <th class="w-25">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                                <div class="tab-pane fade" id="patientCanceled" role="tabpanel"
                                    aria-labelledby="patient-cancel-tab">
                                    <table class="table table-bordered" id="tableCancelPatients" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Ngày khám</th>
                                                <th>Ngày hủy</th>
                                                <th class="w-25">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="changePassword" class="detail-section" style="display:none;">
                    <div class="form-group1">
                        <label for="current-password">Mật khẩu hiện tại:</label>
                        <input type="password" id="current-password" name="current-password"
                            placeholder="Nhập mật khẩu hiện tại">
                    </div>
                    <div class="form-group1">
                        <label for="new-password">Mật khẩu mới:</label>
                        <input type="password" id="new-password" name="new-password" placeholder="Nhập mật khẩu mới">
                    </div>
                    <div class="form-group1">
                        <label for="confirm-password">Xác nhận mật khẩu mới:</label>
                        <input type="password" id="confirm-password" name="confirm-password"
                            placeholder="Xác nhận mật khẩu mới">
                    </div>
                    <div class="form-group1">
                        <button type="submit" class="btn-submit">Đổi mật khẩu</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="sec-foot">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Liên kết</h4>
                    <ul class="footer-links">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/all-specializations">Chuyên khoa</a></li>
                        <li><a href="/all-doctors">Bác sĩ</a></li>
                        <li><a href="/all-posts">Hỏi đáp cộng đồng</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Thông tin liên hệ</h4>
                    <p>Địa chỉ: 64 Nguyễn Lương Bằng, Hòa Khánh, Liên Chiểu, Đà Nẵng</p>
                    <p>Website: <a href="http://DoctorCare.com">http://DoctorCare.com</a></p>
                    <p>Email: <a href="mailto:Doctorcare@gmail.com">Doctorcare@gmail.com</a></p>
                    <p>Số điện thoại: 0123 456 789</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function showDetail(section) {
            document.querySelectorAll('.detail-section').forEach(el => el.style.display = 'none');
            document.getElementById(section).style.display = 'block';
        }
    </script>

    <!-- Modal detail info patient-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalDetailPatient1">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết lịch hẹn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientName">Tên:</label>
                            <input type="text" class="form-control" id="patientName" name="patientName" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientPhone">Số điện thoại:</label>
                            <input type="text" class="form-control" id="patientPhone" name="patientPhone" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientEmail">Email:</label>
                            <input type="email" class="form-control" id="patientEmail" name="patientEmail" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientDate">Ngày:</label>
                            <input type="text" class="form-control" id="patientDate" name="patientDate" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientTime">Giờ:</label>
                            <input type="text" class="form-control" id="patientTime" name="patientTime" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientDoctor">Bác sĩ:</label>
                            <input type="text" class="form-control" id="patientDoctor" name="patientDoctor" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientReason1">Lý do khám:</label>
                            <input type="text" class="form-control" id="patientReason1" name="patientReason1" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ml-3 btn btn-secondary" id="btn-cancel-patient"
                        data-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal detail info patient confirmed-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalDetailPatientConfirmed">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết lịch hẹn đã được xác nhận</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientName">Tên:</label>
                            <input type="text" class="form-control" id="patientName" name="patientName" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientPhone">Số điện thoại:</label>
                            <input type="text" class="form-control" id="patientPhone" name="patientPhone" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientEmail">Email:</label>
                            <input type="email" class="form-control" id="patientEmail" name="patientEmail" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientDate">Ngày:</label>
                            <input type="text" class="form-control" id="patientDate" name="patientDate" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientTime">Giờ:</label>
                            <input type="text" class="form-control" id="patientTime" name="patientTime" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientDoctor">Bác sĩ:</label>
                            <input type="text" class="form-control" id="patientDoctor" name="patientDoctor" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientTimeUpdate">Xác nhận lúc:</label>
                            <input type="text" class="form-control" id="patientTimeUpdate" name="patientTimeUpdate"
                                readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ml-3 btn btn-secondary" id="btn-cancel-patient"
                        data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" id="btn-confirm-patient-done">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal cancel booking for user-->
    <div class="modal fade" id="modalCancelBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận hủy lịch hẹn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-8 mx-auto">
                    <h2>Bạn muốn hủy lịch hẹn</h2>
                    <hr>
                    <div class="booking-success row">
                        <div class="left-booking col-9 mt-3">
                            <div>Vui lòng chọn lý do: </div>
                            <div class="mt-2">
                                <form id="formCancelBooking">
                                    <input type="radio" id="option1" name="reasonCancel" value="reason1">
                                    <label for="option1">Tôi muốn đi khám gấp nên không cần đặt lịch nữa</label><br>
                                    <input type="radio" id="option2" name="reasonCancel" value="reason2">
                                    <label for="option2">Tôi muốn tham khảo thêm nhiều cơ sở y tế khác</label><br>
                                    <input type="radio" id="option3" name="reasonCancel" value="reason3">
                                    <label for="option3">Chưa sắp xếp được thời gian, tôi sẽ đặt lại lịch
                                        sau</label><br>
                                    <input type="radio" id="option4" name="reasonCancel" value="reasonn4">
                                    <label for="option4">Tôi muốn đổi thời gian đặt lịch </label><br>
                                    <input type="radio" id="option5" name="reasonCancel" value="reason5">
                                    <label for="option5">Tôi muốn xem thêm thông tin</label><br>
                                    <input type="radio" id="option6" name="reasonCancel" value="reason6">
                                    <label for="option6">Tôi không muốn đặt lịch khám nữa</label><br>
                                    <input type="radio" id="option6" name="reasonCancel" value="reason">
                                    <label for="option7">khác... <input type="text" id="otherReason"></label><br>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" id="btnCancelBookingPatient1" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal  info result patient-->
    <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
        id="modalResultlPatient">
        <div class="modal-dialog mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientDoctor">Bác sĩ khám:</label>
                            <input type="text" class="form-control" id="patientDoctor" name="patientDoctor" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientPhone">Số điện thoại:</label>
                            <input type="text" class="form-control" id="patientPhone" name="patientPhone" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientEmail">Email:</label>
                            <input type="email" class="form-control" id="patientEmail" name="patientEmail" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientDate">Ngày:</label>
                            <input type="text" class="form-control" id="patientDate" name="patientDate" readonly>
                        </div>
                        <div class="form-group col-2">
                            <label class="col-form-label text-label" for="patientTime">Giờ:</label>
                            <input type="text" class="form-control" id="patientTime" name="patientTime" readonly>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientReason1">Lý do khám:</label>
                            <textarea class="form-control" name="patientReason1" id="patientReason1" readonly></textarea>
                        </div>
                        <div class="form-group col-4">
                            <label class="col-form-label text-label" for="patientAddress">Địa chỉ:</label>
                            <textarea class="form-control" name="patientAddress" id="patientAddress" readonly></textarea>
                        </div>

                        <div class="col-12">
                            <label for="patientAddress">Kết quả khám:</label>
                        </div>

                        <div class="form-group col-6">
                            <label class="col-form-label text-label" for="patientHistoryBreath">Kết quả chuẩn
                                đoán:</label>
<<<<<<< HEAD
                            <textarea class="form-control" name="patientHistoryBreath"
                                id="patientHistoryBreath"></textarea>
=======
                            <textarea class="form-control" name="patientHistoryBreath" id="patientHistoryBreath" readonly></textarea>
>>>>>>> e3f4b4f388d1c0dff3133efac6fa1c26629ed5a1
                        </div>

                        <div class="form-group col-6">
                            <label class="col-form-label text-label" for="patientMoreInfo">Thông tin thêm:</label>
                            <textarea class="form-control" name="patientMoreInfo" id="patientMoreInfo" readonly></textarea>
                        </div>

                        <!-- <div class="form-group col-12">
                            <label class="col-form-label text-label" for="patientNote">Ghi chú:</label>
                            <textarea class="form-control" name="patientNote" id="patientNote"></textarea>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="ml-3 btn btn-secondary" id="btn-cancel-patient"
                        data-dismiss="modal">Oke</button>
                    <!-- <button type="button" class="btn btn-primary" id="btn-confirm-patient-done">Xác nhận</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal history cancel booking -->
    <div class="modal fade" id="modalHistoryBooking1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog  mw-100 w-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lịch sử lịch hẹn đã hủy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset disabled>
                        <div class="modal-body">
                            <div class="row">

                                <div class="form-group col-4">
                                    <label class="col-form-label text-label" for="patientName">Tên:</label>
                                    <input type="text" class="form-control" id="patientName" name="patientName"
                                        readonly>
                                </div>
                                <div class="form-group col-4">
                                    <label class="col-form-label text-label" for="patientDate">Ngày:</label>
                                    <input type="text" class="form-control" id="patientDate" name="patientDate"
                                        readonly>
                                </div>
                                <div class="form-group col-4">
                                    <label class="col-form-label text-label" for="patientTime">Giờ:</label>
                                    <input type="text" class="form-control" id="patientTime" name="patientTime"
                                        readonly>
                                </div>
                                <div class="form-group col-4">
                                    <label class="col-form-label text-label" for="patientDoctor">Bác sĩ:</label>
                                    <input type="text" class="form-control" id="patientDoctor" name="patientDoctor"
                                        readonly>
                                </div>
                                <div class="form-group col-5">
                                    <label class="col-form-label text-label" for="patientReason">Lý do hủy:</label>
                                    <input type="text" class="form-control" id="patientReason" name="patientReason"
                                        readonly>
                                </div>
<<<<<<< HEAD
                                <div class="form-group col-4">
                                    <label class="col-form-label text-label" for="patientTimeCancel">Đã hủy lúc:</label>
                                    <input type="text" class="form-control" id="patientTimeCancel"
                                        name="patientTimeCancel" readonly>
=======
                                <div class="form-group col-3">
                                    <label class="col-form-label text-label" for="patientTimeUpdate">Đã hủy lúc:</label>
                                    <input type="text" class="form-control" id="patientTimeUpdate" name="patientTimeUpdate" readonly>
>>>>>>> e3f4b4f388d1c0dff3133efac6fa1c26629ed5a1
                                </div>
                            </div>
                        </div>
                        <div id="contentHistory">

                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btn-view-history"
                        data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".user-list-patients").addClass("active");
        })
    </script>